body {
  background: #000 url("https://reneald.github.io/images/weather_background.jpg");
  font: 4.21875vmin "Alegreya Sans";
}

h1 {
  font: 10vmin "Alegreya Sans SC";
}

.container {
  background-color: #FFF;
  opacity: 0.50;
}
.container #title,
.container #debug,
.container .row,
.container #it-is,
.container #location,
.container #description,
.container #pref {
  opacity: 1;
}

#unit {
  font-size: 4.21875vmin;
  color: #000;
  border: 0 none;
  border-radius: 0;
}

#it-is,
#location {
  font-size: 7.5vmin;
  color: #000;
}

footer {
  font-size: 2.37305vmin;
  background-color: #FFF;
  opacity: 1;
  position: fixed;
  bottom: 0;
}

a {
  color: #000;
}
