@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400italic,700);
$body-font: 'Alegreya Sans', sans-serif;
$size1: 10vmin;
$size2: $size1 * 0.75;
$size3: $size2 * 0.75;
$size4: $size3 * 0.75;
$size5: $size4 * 0.75;
$size6: $size5 * 0.75;
$background-color: #B7B5B3;
$text-color: #141301;
$color3: #60992D;
$color4: #8CAE68;
$color5: #E5E7E6;

body {
  background: $background-color;
  color: $text-color;
  font-family: $body-font;
}


// Grid setup
.app-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1vh;
  -ms-grid-rows: 2fr 1fr 1fr 3.5fr;
  grid-template-rows: 2fr 1fr 1fr 3.5fr;
  grid-row-gap: 1vh;
}

// Minor changes for smaller screens
@media screen and (max-width: 612px), (max-height: 612px) {
  .card {
    font-size: $size4;
    h2 {
    font-size: $size4;
    }
  }
  
  .app-layout {
    -ms-grid-columns: 10vw 1fr 1fr 10vw;
    grid-template-columns: 10vw 1fr 1fr 10vw;
  }
}

button{
  font-size: $size4;
  font-weight: 700;
  border: 0;
  transition: all 0.5s;
  cursor: pointer;
  span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
    &:after{
      content: '\2003 \2192';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -3vw;
      transition: 0.5s;
    }
  }
  &:hover span{
    padding-right: 5vw;
    &:after{
      opacity: 1;
      right: 0.5vw;
    }
  }
  &:focus {
    outline: none;
  }
}

a{
  color: $text-color;
  text-decoration: none;
}

footer {
  display:flex;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 4;
  grid-row: 4;
  font-size: $size5;
}

h1 {
  font-size: $size1;
}

h2 {
  font-size: $size6;
}

.title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 1 / 2;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.card {
  background-color: $color5;
  padding-left: $size4;
  padding-right: $size4;
}

#input {
  -ms-grid-column: 2 ;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background: $color5;
  color: $text-color;
  font-size: $size4;
  border: 0;
  padding-left: $size4;
  &:focus{
    outline: none;
  }
  &::placeholder{
    color: $background-color;
    font-style: italic;
  }
}

#results {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 4;
  grid-row: 4;
  font-size: $size6;
}

#search {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  background: $color3;
}

#random {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  background: $color4;
}

#footer-text {
  display:flex;
  align-self:flex-end;
}