body {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 700;
  color: #777777;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-family: 'Alegreya', serif;
  font-weight: 700;
  font-size: 50px;
}

h2 {
  font-size: 37px;
}

p {
  font-size: 21px;
}

.reneald-menu-btn {
  border-style: none;
  border-radius: 0;
  background-color: #AAAAAA;
}

#menu {
  color: black;
  background-color: #AAA;
  padding: 20px 20% 20px 20px;
}

#home {
  text-align: center;
  background: url("https://github.com/reneald/fcc_solutions/blob/portfolio/basic_front_end_development/personal_portfolio_webpage/img/background_home.jpg?raw=true") 50% 0 no-repeat fixed;
  background-color: #0000FF;
  padding: 100px 300px 160px 300px;
  background-size: cover;
}

#about {
  text-align: left;
  background: url("https://github.com/reneald/fcc_solutions/blob/portfolio/basic_front_end_development/personal_portfolio_webpage/img/background_about.jpg?raw=true") 50% 0 no-repeat fixed;
  background-color: #FF0000;
  padding: 100px 300px 160px 300px;
  background-size: cover;
}

#portfolio {
  text-align: left;
  background: url("https://github.com/reneald/fcc_solutions/blob/portfolio/basic_front_end_development/personal_portfolio_webpage/img/background_portfolio.png?raw=true") 50% 0 no-repeat fixed;
  background-color: #00FF00;
  padding: 100px 300px 160px 300px;
  background-size: cover;
}

#contact {
  text-align: left;
  background: url("https://github.com/reneald/fcc_solutions/blob/portfolio/basic_front_end_development/personal_portfolio_webpage/img/background_contact.jpg?raw=true") 50% 0 no-repeat fixed;
  background-color: #333333;
  padding: 100px 300px 160px 300px;
  background-size: cover;
}

#footer {
  color: #000000;
  padding: 50px 300px 0px 300px;
}

.profilepic{
  width: 300px;
  border-radius: 50%;
}
