body {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 700;
  color: #DDD;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-family: 'Alegreya', serif;
  font-weight: 700;
  font-size: 50px;
  text-shadow: 1px 0 black, 0 0 black, 1px 0 black, 0 -1px black;
}

h2 {
  font-size: 37px;
  text-shadow: 1px 0 black, 0 0 black, 1px 0 black, 0 -1px black;
}

p {
  font-size: 21px;
}

#home {
  text-align: center;
  background: url("img/background_home.jpg") 50% 0 no-repeat fixed;
  padding: 100px 20% 160px 20%;
  background-size: cover;
}

#about {
  text-align: left;
  background: url("img/background_about.jpg") 50% 0 no-repeat fixed;
  padding: 100px 20% 160px 20%;
  background-size: cover;
}

#portfolio {
  text-align: left;
  background: url("img/background_portfolio.png") 50% 0 no-repeat fixed;
  padding: 100px 20% 160px 20%;
  background-size: cover;
}

#contact {
  text-align: left;
  background: url("img/background_contact.jpg") 50% 0 no-repeat fixed;
  padding: 100px 20% 160px 20%;
  background-size: cover;
}

#footer {
  color: #000000;
  padding: 10px 20% 0px 20%;
}

.profilepic{
  width: 300px;
  border-radius: 50%;
}

.img-portfolio{
  width: 100%;
}

a{
  color: #DDD;
}

a:hover{
  color: #AAA;
}

a.a-portfolio{
  color: #888;
}
nav {
  padding: 0 20% 0 20%;
}

#reneald-footer {
  font-size: 12px;
}