body {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  padding: 0 30% 0 30%;
  height: 100%
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-size: 21px;
  font-weight: 500;
}

#quote {
  font-family: "Alegreya", serif;
  font-size: 28px;
  padding-top: 9%
}

#author {
  font-family: "Alegreya", serif;
  font-size: 21px;
  padding: 3.5% 0 12% 0;
}

a {
	color: #000;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

footer, #push {
  height: 4em;
}