$button-font: 'Droid Sans Mono', Monaco, Courier, monospace;
@mixin shape($width, $heigth, $border-width) {
    width: $width;
    height: $heigth;
    text-align: center;
    border-style: solid;
    border-width: $border-width;
    border-radius: 50% / 10%;
}

#calculator {
    @include shape(325px, 350px, 4px);
}

input {
    font-family: $button-font;
    border-radius: 5px;
}

button {
    @extend input;
    @include shape(30px, 30px, 2px);
    .tall {
        height: 80px;
    }
    margin: 2px;
}

footer {
    text-align: center;
}